<button class="button-69" role="button" @onclick="CrearEntidad">@TextoBoton</button>


@code {
    [Parameter] public string TextoBoton { get; set; }
   [Parameter] public EventCallback CrearEntidad { get; set; }

}
