USE [master]
GO
/****** Object:  Database [Accesos]    Script Date: 04/06/2018 1:07:40 ******/
CREATE DATABASE [Accesos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Accesos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\Accesos.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Accesos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\Accesos_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Accesos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Accesos]
GO
/****** Object:  Table [dbo].[GRALDias]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRALDias](
	[nDiaID] [int] IDENTITY(1,1) NOT NULL,
	[sDiaID] [varchar](3) NOT NULL,
	[sDescripcion] [varchar](20) NOT NULL,
	[nOrden] [int] NOT NULL,
 CONSTRAINT [PK_GRALDias] PRIMARY KEY CLUSTERED 
(
	[nDiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GRALVariablesGlobales]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRALVariablesGlobales](
	[nVariableGlobalID] [int] IDENTITY(1,1) NOT NULL,
	[sVariableGlobalID] [varchar](50) NOT NULL,
	[sDescripcion] [varchar](200) NOT NULL,
	[sValor] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_GRALVariablesGlobales] PRIMARY KEY CLUSTERED 
(
	[nVariableGlobalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RRHHCalendarios]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RRHHCalendarios](
	[nCalendarioID] [int] IDENTITY(1,1) NOT NULL,
	[sCalendarioID] [varchar](15) NOT NULL,
	[sDescripcion] [varchar](50) NOT NULL,
	[nTurnoID] [int] NOT NULL,
	[dFechaDesde] [smalldatetime] NOT NULL,
	[dFechaHasta] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_RRHHCalendarios] PRIMARY KEY CLUSTERED 
(
	[nCalendarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RRHHCalendariosDias]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RRHHCalendariosDias](
	[nCalendarioDiasID] [int] IDENTITY(1,1) NOT NULL,
	[nCalendarioID] [int] NOT NULL,
	[sDiaEntrada] [varchar](3) NOT NULL,
	[sDiaSalida] [varchar](3) NOT NULL,
	[tHoraEntrada] [time](7) NOT NULL,
	[tHoraSalida] [time](7) NOT NULL,
	[nDispositivoID] [int] NOT NULL,
	[nIncidenciaID] [int] NOT NULL,
 CONSTRAINT [PK_RRHHCalendariosDias] PRIMARY KEY CLUSTERED 
(
	[nCalendarioDiasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RRHHCalendariosLegajos]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RRHHCalendariosLegajos](
	[nCalendarioLegajoID] [int] IDENTITY(1,1) NOT NULL,
	[nCalendarioID] [int] NOT NULL,
	[sEmployid] [char](15) NOT NULL,
 CONSTRAINT [PK_RRHHCalendariosLegajos] PRIMARY KEY CLUSTERED 
(
	[nCalendarioLegajoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RRHHCalendariosLegajosDias]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RRHHCalendariosLegajosDias](
	[nCalendarioLegajoDiasID] [int] IDENTITY(1,1) NOT NULL,
	[nCalendarioLegajoID] [int] NOT NULL,
	[sDiaEntrada] [varchar](3) NOT NULL,
	[sDiaSalida] [varchar](3) NOT NULL,
	[tHoraEntrada] [time](7) NOT NULL,
	[tHoraSalida] [time](7) NOT NULL,
	[nDispositivoID] [int] NOT NULL,
	[nIncidenciaID] [int] NOT NULL,
	[dFechaDesde] [date] NULL,
	[dFechaHasta] [date] NULL,
 CONSTRAINT [PK_RRHHCalendariosLegajosDias] PRIMARY KEY CLUSTERED 
(
	[nCalendarioLegajoDiasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RRHHDispositivos]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RRHHDispositivos](
	[nDispositivoID] [int] IDENTITY(1,1) NOT NULL,
	[sDispositivoID] [nchar](10) NOT NULL,
	[nPuerto] [int] NOT NULL,
	[sIP] [varchar](15) NOT NULL,
	[sDescripcion] [varchar](100) NOT NULL,
	[bRegIngEgr] [bit] NULL,
 CONSTRAINT [PK_RRHHDispositivos] PRIMARY KEY CLUSTERED 
(
	[nDispositivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RRHHIncidencias]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RRHHIncidencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[sIncidenciaID] [varchar](5) NOT NULL,
	[sDescripcion] [varchar](50) NOT NULL,
	[nMinTolAntesInicio] [int] NOT NULL,
	[nMinTolDespuesInicio] [int] NOT NULL,
	[nMinTolAntesFin] [int] NOT NULL,
	[nMinTolDespuesFin] [int] NOT NULL,
	[bPaga] [bit] NOT NULL,
	[nCompensacionSigno] [smallint] NOT NULL,
	[nCompensacionTipo] [smallint] NULL,
	[nCompensacionImporte] [money] NOT NULL,
	[bEstaenTurno] [bit] NULL,
 CONSTRAINT [PK_RRHHIncidencias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RRHHIncidenciasLegajos]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RRHHIncidenciasLegajos](
	[nIncidenciaLegajoID] [int] IDENTITY(1,1) NOT NULL,
	[nIncidenciaID] [int] NOT NULL,
	[sEmployid] [char](15) NOT NULL,
	[dFechaDesde] [datetime] NOT NULL,
	[dFechaHasta] [datetime] NOT NULL,
 CONSTRAINT [PK_RRHHIncidenciasLegajos] PRIMARY KEY CLUSTERED 
(
	[nIncidenciaLegajoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RRHHTurnos]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RRHHTurnos](
	[nTurnoID] [int] IDENTITY(1,1) NOT NULL,
	[sTurnoID] [varchar](5) NOT NULL,
	[sDescripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RRHHTurnos] PRIMARY KEY CLUSTERED 
(
	[nTurnoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RRHHTurnosDias]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RRHHTurnosDias](
	[nTurnoDiaID] [int] IDENTITY(1,1) NOT NULL,
	[nTurnoID] [int] NOT NULL,
	[sDiaEntradaID] [varchar](3) NOT NULL,
	[sDiaSalidaID] [varchar](3) NOT NULL,
	[tHoraEntrada] [time](7) NOT NULL,
	[tHoraSalida] [time](7) NOT NULL,
	[nDispositivoID] [int] NULL,
	[nIncidenciaID] [int] NULL,
 CONSTRAINT [PK_RRHHTurnosDias] PRIMARY KEY CLUSTERED 
(
	[nTurnoDiaID] ASC,
	[nTurnoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RRHHTurnosLegajos]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RRHHTurnosLegajos](
	[nTurnoLegajoID] [int] IDENTITY(1,1) NOT NULL,
	[nTurnoID] [int] NOT NULL,
	[sEmloyID] [char](15) NOT NULL,
	[dFechaDesde] [smalldatetime] NOT NULL,
	[dFechaHasta] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_RRHHTurnosLegajos] PRIMARY KEY CLUSTERED 
(
	[nTurnoLegajoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[DYGPUPR00100]    Script Date: 04/06/2018 1:07:40 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[DYGPUPR00100]
AS
select EMPLOYID, EMPLCLAS, inactive, LASTNAME, FRSTNAME, MIDLNAME, SOCSCNUM, BRTHDATE, GENDER, 
DIVISIONCODE_I, DEPRTMNT, JOBTITLE, SUPERVISORCODE_I, SUTASTAT, WRKRCOMP, EMPLOYMENTTYPE, NICKNAME,
LTRIM(RTRIM(LASTNAME)) + ', ' + LTRIM(RTRIM(FRSTNAME)) FullName,
convert(bit,0) as Sel
from two..UPR00100



GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_GRALDias]    Script Date: 04/06/2018 1:07:40 ******/
CREATE NONCLUSTERED INDEX [IX_GRALDias] ON [dbo].[GRALDias]
(
	[sDiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_GRALVariablesGlobales]    Script Date: 04/06/2018 1:07:40 ******/
CREATE NONCLUSTERED INDEX [IX_GRALVariablesGlobales] ON [dbo].[GRALVariablesGlobales]
(
	[sVariableGlobalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RRHHCalendarios]    Script Date: 04/06/2018 1:07:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RRHHCalendarios] ON [dbo].[RRHHCalendarios]
(
	[sCalendarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RRHHIncidencias]    Script Date: 04/06/2018 1:07:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RRHHIncidencias] ON [dbo].[RRHHIncidencias]
(
	[sIncidenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RRHHIncidenciasLegajos]    Script Date: 04/06/2018 1:07:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RRHHIncidenciasLegajos] ON [dbo].[RRHHIncidenciasLegajos]
(
	[nIncidenciaID] ASC,
	[sEmployid] ASC,
	[dFechaDesde] ASC,
	[dFechaHasta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RRHHTurnos]    Script Date: 04/06/2018 1:07:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RRHHTurnos] ON [dbo].[RRHHTurnos]
(
	[sTurnoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RRHHCalendarios]  WITH CHECK ADD  CONSTRAINT [FK_RRHHCalendarios_RRHHTurnos] FOREIGN KEY([nTurnoID])
REFERENCES [dbo].[RRHHTurnos] ([nTurnoID])
GO
ALTER TABLE [dbo].[RRHHCalendarios] CHECK CONSTRAINT [FK_RRHHCalendarios_RRHHTurnos]
GO
ALTER TABLE [dbo].[RRHHCalendariosDias]  WITH CHECK ADD  CONSTRAINT [FK_RRHHCalendariosDias_RRHHCalendarios] FOREIGN KEY([nCalendarioID])
REFERENCES [dbo].[RRHHCalendarios] ([nCalendarioID])
GO
ALTER TABLE [dbo].[RRHHCalendariosDias] CHECK CONSTRAINT [FK_RRHHCalendariosDias_RRHHCalendarios]
GO
ALTER TABLE [dbo].[RRHHCalendariosDias]  WITH CHECK ADD  CONSTRAINT [FK_RRHHCalendariosDias_RRHHDispositivos] FOREIGN KEY([nDispositivoID])
REFERENCES [dbo].[RRHHDispositivos] ([nDispositivoID])
GO
ALTER TABLE [dbo].[RRHHCalendariosDias] CHECK CONSTRAINT [FK_RRHHCalendariosDias_RRHHDispositivos]
GO
ALTER TABLE [dbo].[RRHHCalendariosDias]  WITH CHECK ADD  CONSTRAINT [FK_RRHHCalendariosDias_RRHHIncidencias] FOREIGN KEY([nIncidenciaID])
REFERENCES [dbo].[RRHHIncidencias] ([Id])
GO
ALTER TABLE [dbo].[RRHHCalendariosDias] CHECK CONSTRAINT [FK_RRHHCalendariosDias_RRHHIncidencias]
GO
ALTER TABLE [dbo].[RRHHCalendariosLegajos]  WITH CHECK ADD  CONSTRAINT [FK_RRHHCalendariosLegajos_RRHHCalendarios] FOREIGN KEY([nCalendarioID])
REFERENCES [dbo].[RRHHCalendarios] ([nCalendarioID])
GO
ALTER TABLE [dbo].[RRHHCalendariosLegajos] CHECK CONSTRAINT [FK_RRHHCalendariosLegajos_RRHHCalendarios]
GO
ALTER TABLE [dbo].[RRHHCalendariosLegajosDias]  WITH CHECK ADD  CONSTRAINT [FK_RRHHCalendariosLegajosDias_RRHHCalendariosLegajos] FOREIGN KEY([nCalendarioLegajoID])
REFERENCES [dbo].[RRHHCalendariosLegajos] ([nCalendarioLegajoID])
GO
ALTER TABLE [dbo].[RRHHCalendariosLegajosDias] CHECK CONSTRAINT [FK_RRHHCalendariosLegajosDias_RRHHCalendariosLegajos]
GO
ALTER TABLE [dbo].[RRHHCalendariosLegajosDias]  WITH CHECK ADD  CONSTRAINT [FK_RRHHCalendariosLegajosDias_RRHHDispositivos] FOREIGN KEY([nDispositivoID])
REFERENCES [dbo].[RRHHDispositivos] ([nDispositivoID])
GO
ALTER TABLE [dbo].[RRHHCalendariosLegajosDias] CHECK CONSTRAINT [FK_RRHHCalendariosLegajosDias_RRHHDispositivos]
GO
ALTER TABLE [dbo].[RRHHCalendariosLegajosDias]  WITH CHECK ADD  CONSTRAINT [FK_RRHHCalendariosLegajosDias_RRHHIncidencias] FOREIGN KEY([nIncidenciaID])
REFERENCES [dbo].[RRHHIncidencias] ([Id])
GO
ALTER TABLE [dbo].[RRHHCalendariosLegajosDias] CHECK CONSTRAINT [FK_RRHHCalendariosLegajosDias_RRHHIncidencias]
GO
ALTER TABLE [dbo].[RRHHIncidenciasLegajos]  WITH CHECK ADD  CONSTRAINT [FK_RRHHIncidenciasLegajos_RRHHIncidencias] FOREIGN KEY([nIncidenciaID])
REFERENCES [dbo].[RRHHIncidencias] ([Id])
GO
ALTER TABLE [dbo].[RRHHIncidenciasLegajos] CHECK CONSTRAINT [FK_RRHHIncidenciasLegajos_RRHHIncidencias]
GO
ALTER TABLE [dbo].[RRHHTurnosDias]  WITH CHECK ADD  CONSTRAINT [FK_RRHHTurnosDias_RRHHDispositivos] FOREIGN KEY([nDispositivoID])
REFERENCES [dbo].[RRHHDispositivos] ([nDispositivoID])
GO
ALTER TABLE [dbo].[RRHHTurnosDias] CHECK CONSTRAINT [FK_RRHHTurnosDias_RRHHDispositivos]
GO
ALTER TABLE [dbo].[RRHHTurnosDias]  WITH CHECK ADD  CONSTRAINT [FK_RRHHTurnosDias_RRHHIncidencias] FOREIGN KEY([nIncidenciaID])
REFERENCES [dbo].[RRHHIncidencias] ([Id])
GO
ALTER TABLE [dbo].[RRHHTurnosDias] CHECK CONSTRAINT [FK_RRHHTurnosDias_RRHHIncidencias]
GO
ALTER TABLE [dbo].[RRHHTurnosDias]  WITH CHECK ADD  CONSTRAINT [FK_RRHHTurnosDias_RRHHTurnos] FOREIGN KEY([nTurnoID])
REFERENCES [dbo].[RRHHTurnos] ([nTurnoID])
GO
ALTER TABLE [dbo].[RRHHTurnosDias] CHECK CONSTRAINT [FK_RRHHTurnosDias_RRHHTurnos]
GO
ALTER TABLE [dbo].[RRHHTurnosLegajos]  WITH CHECK ADD  CONSTRAINT [FK_RRHHTurnosLegajos_RRHHTurnos] FOREIGN KEY([nTurnoID])
REFERENCES [dbo].[RRHHTurnos] ([nTurnoID])
GO
ALTER TABLE [dbo].[RRHHTurnosLegajos] CHECK CONSTRAINT [FK_RRHHTurnosLegajos_RRHHTurnos]
GO
USE [master]
GO
