<div class="titulo">
    <div class="d-flex">

        <h3 class="p-2 flex-grow-1">@Titulo</h3>

        <ul class="nav nav-pills nav-fill mb-3">
            <li class="list-group-item">
                <span>
                    <a class="btn-primary btn btn-sm p-2" href="/legajos">
                        <i class="bi bi-list"></i>
                    </a>
                    <a class="btn-danger btn btn-sm p-2" href="/legajos/buscar">
                        <i class="bi bi-view-list"></i>
                    </a>
                    <a class="btn-secondary btn btn-sm p-2" href="/legajos/buscarLista">
                        <i class="bi bi-view-list"></i>
                    </a>
                </span>
            </li>
        </ul>

    </div>

</div>

@code {
    [Parameter] public string Codigo { get; set; }
    [Parameter] public string Descripcion { get; set; }


    private string Titulo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Titulo = $"{Codigo} - {Descripcion}";
    }
}