@page "/usuarios/resetpassword/{UserId}/{Email}"
@attribute [Authorize(Roles = "ADMINISTRADOR")]
@inject UserManager<IdentityUser> userManager
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigation

<div class="container">

    <TituloPrincipal src="/imagenes/Atributos_Categoria.png" Titulo="@Titulo" />

    <div class="row">
        <div class="form-group mb-2">
            <div class="col-2">
                <label for="pass1">Nuevo Password:</label>
            </div>
            <div class="col">
                <input id="pass1" type="password" @bind="@nuevoPass"></input>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3">
            <div class="col-2">
                <label>Repetir Password:</label>
            </div>
            <div class="col">
                <input type="password" @bind="@nuevoPass2"></input>
            </div>
        </div>
    </div>

    <button class="btn btn-danger" @onclick="@Resetear">Resetear</button>

</div>
@code {
    [Parameter] public string UserId { get; set; }
    [Parameter] public string Email { get; set; }

    private string nuevoPass = string.Empty;
    private string nuevoPass2 = string.Empty;
    private string Titulo = string.Empty;

    protected override void OnParametersSet()
    {

        Titulo = $"Resetear Password Usuario: {Email}";
    }

    private async Task Resetear()
    {

        if (nuevoPass != nuevoPass2)
        {
            await mostrarMensajes.MostrarMensajeError("Los password no coinciden");
            return;
        }

        var user = await userManager.FindByIdAsync(UserId);
        var token = await userManager.GeneratePasswordResetTokenAsync(user);

        var result = await userManager.ResetPasswordAsync(user, token, nuevoPass);
        if (result.Succeeded)
        {
            await mostrarMensajes.MostrarMensajeExitoso("La clave se cambio con Exito");
            navigation.NavigateTo($"/usuarios/editar/{UserId}");
        }
        else
        {
            await mostrarMensajes.MostrarMensajeError("No se pudo cambiar la clave");
        }

    }
}
