@page "/horarios"
@attribute [Authorize(Roles = "ADMINISTRADOR")]
@inject RepositorioHorarios repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager


<div class="container">
    <TituloPrincipal src="/imagenes/Atributos_Horario.png" Titulo="Horarios" />

    <div class="form-group">
        <BotonAgregarEntidad CrearEntidad="Crear" TextoBoton="Crear Horario"></BotonAgregarEntidad>
        <FiltroIndice Cargar="Cargar" textobusqueda="@textobusqueda"></FiltroIndice>
    </div>


    <ListadoGenerico Listado="Horarios">
        <HayRegistrosCompleto>
            <table class="table table-striped">
                <thead class="cabeceraTabla">
                    <tr>
                        <th>Acciones</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Horarios)
                    {
                        <tr>
                            <td>
                                <a href="/horarios/editar/@item.Id" class="btn btn-success btn-sm">Editar</a>
                                <button @onclick="@(() => BorrarHorarios(item))" class="btn btn-danger btn-sm">Borrar</button>
                            </td>
                            <td>@item.Nombre</td>
                        </tr>
                    }
                </tbody>
            </table>
        </HayRegistrosCompleto>
    </ListadoGenerico>
</div>

@code {
    public List<Horario> Horarios { get; set; }
    string textobusqueda;

    protected async override Task OnInitializedAsync()
    {
        await Cargar(string.Empty);
    }

    private async Task Cargar(string texto)
    {
        Horarios = await repositorio.Get(texto);
    }

    private async Task BorrarHorarios(Horario objeto)
    {
        var condicion = await mostrarMensajes.MostrarMensajeBorrar(objeto.Nombre);

        if (condicion)
        {
            await repositorio.Delete(objeto.Id);
            await mostrarMensajes.MostrarMensajeTemporal("Horarios", $"{objeto.Nombre}: Almacendo");
        }
        

        await Cargar(string.Empty);
    }
    private void Crear()
    {
        navigationManager.NavigateTo("horarios/crear");
    }
}
